table{
    background-color: #f1f2f3;
    padding: 10px;
    border: 10px black double;
}
th{
    background-color: antiquewhite;
    padding: 10px;
    border: 10px black double;
}
td{
    padding: 10px;
    border: 10px black double;
}
h1{
    color:antiquewhite;
}
body{
    background-color: #AAAAAA;
}
